
{% extends 'base.html.twig' %}
   {% block title %}Administration{% endblock %}

    {% block body %}


   <section>
    <div class="container  flex-column">
        <div class="row align-items        justify-content-center gx-0 min-vh-100">
            <div class="col-12 col-md-6 col-lg-4 py-8 py-md-11">

                <!-- Heading -->
                <h1 class="mb-0 fw-bold">
                </br> </br> Ouvrir mon compte
                </h1>

                <!-- Text -->
                <p class="mb-6 text-muted">

                </p>
                {# teste si l'utilisateur connecté possède ce rôle #}
                {% if is_granted("ROLE_ADMIN") %}
                    <a href="{{ path('admin_dashboard') }}">Back-office</a>
                {% endif %}

               <form method="post">
                    {% if error %}
                        <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
                    {% endif %}

                   {% if app.user %}
                       <div class="mb-3">
                           You are logged in as {{ app.user.userIdentifier }}, <a href="{{ path('app_logout') }}">Logout</a>
                       </div>
                   {% endif %}


                   <label for="inputEmail">Email</label>
                    <input type="email" value="{{ last_username }}" name="email" id="inputEmail" class="form-control" autocomplete="email" required autofocus>

                    </br>

                    <label for="inputPassword">Password</label>
                    <input type="password" name="password" id="inputPassword" class="form-control" autocomplete="current-password" required>

                    <input type="hidden" name="_csrf_token"
                           value="{{ csrf_token('authenticate') }}"
                    >
<br><br>
                    <!-- Submit -->
                    <button class="btn w-100 btn-primary" type="submit">
                        Connection
                    </button>

                </form>

            </div>
            <div class="col-lg-7 offset-lg-1 align-self-stretch d-none d-lg-block" data-aos="fade-left">

                <!-- Image -->
                <div class="h-50 w-cover bg-cover" style="background-image: url({{ asset('img/accueil.jpg') }});"></div>


        </div> <!-- / .row -->
    </div> <!-- / .container -->
</section>
    {% endblock %}
