
<!-- SHAPE -->
<div class="position-relative mt-n11">
    <div class="shape shape-bottom shape-fluid-x text-dark">
        <svg viewBox="0 0 2880 48" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M0 48h2880V0h-720C1442.5 52 720 0 720 0H0v48z" fill="currentColor"/></svg>      </div>
</div>

<!-- FOOTER -->
    <footer class="py-8 py-md-11 bg-dark">
        <div class="container">
            <div class="row">
                <div class="col-12 col-md-4 col-lg-3">

                    <!-- Brand -->
                    <img src="{{ asset('img/new_logo_chalonn_rp.png') }}" alt="logo" class="footer-brand img-fluid mb-2">

                    <!-- Text -->
                    <p class="text-muted mb-6 mb-md-8 mb-lg-0-700 mb-2">
                        Association de protection animale.
                    </p>
                </div>

                <div class="col-12 col-md-4 col-lg-4">

                    <!-- Heading -->
                    <h6 class="fw-bold text-uppercase text-muted mb-6 mb-md-8 mb-lg-0">
                        Menu
                    </h6><br>

                    <!-- List -->
                    <ul class="list-unstyled text-muted mb-6 mb-md-8 mb-lg-0">
                        <li >
                            <a href="{{path('adoption')}}" class="text-reset">
                                Nos chats à l'adoption
                            </a>
                        </li>
                        <li >
                            <a href="{{path('actualites')}}" class="text-reset">
                               Actualités
                            </a>
                        </li>

                        <li >
                            <a href="{{path('a_propos')}}" class="text-reset">
                                A Propos
                            </a>
                        </li>
                     {#    <li>
                            <a href="{{ path('libre') }}" class="text-reset">
                                Nos chats libres
                            </a>
                        </li>#}
                        <li>
                            <a href="{{path('partenaire')}}" class="text-reset">
                                Nos partenaires
                            </a>
                        </li>

                        <li>
                            <a href="{{path('contact')}}" class="text-reset">
                                Nous contacter
                            </a>
                        </li>

                        <li>
                            <a href="{{path('mention')}}" class="text-reset">
                                Mentions légales
                            </a>
                        </li>
                    </ul>

                </div>

                <div class="col-12 col-md-4 col-lg-4">

                    <!-- Heading -->
                    <h6 class="fw-bold text-uppercase text-muted mb-6 mb-md-8 mb-lg-0">
                        Informations
                    </h6>

                    <!-- Text -->
                    <p class=" text-muted mb-6 mb-md-8 mb-lg-0">
                        Association de protection animale qui vient en aide aux chats en difficultés.
                    </p>
                    <p class=" text-muted mb-6 mb-md-8 mb-lg-0">
                        Nous sommes à Médrignac (22), nous aidons les chats des départements voisins également.
                    </p>
                        <br>
                    <a href="https://www.facebook.com/Association-Chalonn-540012532753425" class="text-reset">
                        <img src="{{ asset('img/face.png') }}" height="auto" width="50" alt="facebook" class="footer-brand img-fluid mb-2">
                    </a>

                    <a href="https://www.instagram.com/association_chalonn/" class="text-reset">
                        <img src="{{ asset('img/insta.png') }}" height="auto" width="50" alt="facebook" class="footer-brand img-fluid mb-2">
                    </a>

                    <a href="https://chalonn.fr/forum/index.php" class="text-reset">
                        <img src="{{ asset('img/forum.png') }}" height="auto" width="50" alt="facebook" class="footer-brand img-fluid mb-2">
                    </a>
                    <br><br>
                    {% if app.user %}
                        {#   <ul class="navbar-nav ms-auto">
                                <li class="nav-item dropdown">
                                    <a  href="{{path('compte')}}" class=" nav-link" >Mon compte</a>
                                </li>#}



                            <a class="text-black" href="{{path('app_logout')}}" class=" nav-link" >Déconnexion</a>


                    {% else %}

                                <a class="text-black" href="{{path('app_login')}}" class=" " >Connection admin</a>



                            {#  <li class="nav-item dropdown">
                                    <a  href="{{path('register')}}" class=" nav-link" >M'inscrire</a>
                                </li>#}
                        </ul>


                    {% endif %}

                </div>


                    <!-- List -->
                    <ul class="list-unstyled text-muted mb-6 mb-md-8 mb-lg-0">
                        <li class="mb-3">
                            <a href="#!" class="text-reset">

                            </a>
                        </li>

                    </ul>

                </div>


            </div> <!-- / .row -->
        </div> <!-- / .container -->
    </footer>


