{% extends 'base.html.twig' %}

    {% block title %}Chats à l'adoption{% endblock %}

    {% block body %}
        <section class="pt-7 pt-md-10">
            <div class="container">
                <div class="row">
                    <div class="col_6">
                        <h2 class="mb-0">
                           Votre recherche
                        </h2>
                        {{ form(form) }}
                        <p class=" mb-5 text-muted">

                        </p>
                    </div>
                </div>
            </div>
        </section>
        <section class="pt-7 pt-md-10">
            <div class="container">
                <div class="row">
                    <div class="col_12">
                        <h2 class="mb-0">
                           Tous nos chats à l'adoption
                        </h2>
                        <p class=" mb-5 text-muted">

                        </p>
                    </div>
                    {% for chat in chats%}
                    <div class="col-12 col-md-6 d-flex">
                        <div class="card mb-6 shadow-light-lg lift lift-lg">
                            <a class="card-img-top"
                               href="{{path('chat_details', {'nom':chat.nom })}}">
                                <img src="{{ asset('uploads/chats/'~ chat.file) }}" alt="{{ chat.file }}" class="card-img-top">

                            </a>
                            <a class="card-body" href="{{path('chat_details', {'nom':chat.nom })}}">
                                <h3>
                                    {{ chat.nom }}
                                </h3>
                                <p class="mb-0 text-muted">
                                    {{ chat.sexe }}
                                </p>
                                <p class="mb-0 text-muted">
                                   Né(e) le: {{ chat.dateNaissance |date('d/m/Y')}}
                                </p>
                                <p class="mb-0 text-muted">
                                    {{ chat.caractere |u.truncate(100,'...',false)}}
                                </p>
                            </a>
                            <a class="card-meta mt-auto" href="{{path('chat_details', {'nom':chat.nom })}}">
                                <hr class="card-meta-divider">
                                <p class="h6 text-uppercase text-muted mb-0 ms-auto">
                                </p>
                            </a>
                        </div>
                    </div>
                    {% endfor%}
                </div>
            </div>

            <div class="d-flex justify-content-center">
             {#    {% do chats.setPageRange(2) %}
                {{ knp_pagination_render(chats, 'base/pagination.html.twig') }}#}
            </div>

        </section>
    {% endblock %}

